@font-face {
  font-family: "Gasoek One";
  font-weight: 400;
  src: url("assets/fonts/gasoekone-regular.woff") format("woff");
}

@font-face {
  font-family: "Blaka";
  font-weight: 400;
  src: url("assets/fonts/blaka-regular.woff") format("woff");
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: 500;
  src: url("assets/fonts/jetbrainsmono-medium.woff") format("woff");
}

:root {
  /* Colors */
  --color-bg: #1f1f1f;
  --color-text-dark-bg: #cfcdd9;
  --color-text-light-bg: #222222;
  --color-accent: #83ffc7;

  /* Font Families */
  --font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Inter,
    sans-serif;
  --font-inter: "Inter", var(--font-system);
  --font-jetbrains-mono: "JetBrains Mono", var(--font-system);
  --font-blaka: "Blaka", var(--font-system);
  --font-gasoek: "Gasoek One", var(--font-system);
}

/* Remove some default styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  all: unset;
  cursor: pointer;
  white-space: nowrap;
}

ol,
ul {
  list-style: none;
}

/* Generic widely applied styles */

html {
  scroll-snap-type: y mandatory;
}

body {
  font-family: var(--font-inter);
  font-size: 1.06rem;
  line-height: 2.3rem;
  color: var(--color-text-dark-bg);
  font-weight: 500;
}

h1,
h2 {
  font-family: var(--font-gasoek);
  color: #ffffff;
  font-weight: 400; /* h1 is bold by default, but Gasoek One font should be rendered as regular */
  font-size: 4.25rem;
  line-height: 1.05em;
  margin-block-end: 1em;
}

p,
a {
  margin-block-end: 2em;
}

.highlight--light {
  color: #ffffff;
}

.font-mono {
  font-family: var(--font-jetbrains-mono);
}

section {
  scroll-snap-align: start;
  position: relative;
}

.bg {
  position: relative;
  background-color: var(--color-bg);
}

.bg::before {
  content: "";
  position: absolute;
  inset: 0px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/9a/512x512_Dissolve_Noise_Texture.png");
  background-size: 500px;
  background-repeat: repeat;
  mix-blend-mode: overlay;
  opacity: 30%;
  z-index: -1;
}

/* Hero section styles */

.hero__container {
  height: 100svh;
  max-width: 685px;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
}

.hero__container::before {
  content: "";
  position: absolute;
  inset: 0px;
  left: 0;
  z-index: -1;
  opacity: 30%;
  background: linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(0 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 95% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(1 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 85% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(2 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 83% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(3 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 70% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(4 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 48% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(5 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 40% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(6 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 22% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(7 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 20% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(8 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 15% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(9 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 10% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(10 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 10% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(11 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 10% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(12 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 9% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(13 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 8% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(14 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 8% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(15 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 8% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(16 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 8% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(17 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 8% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(18 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 7% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(19 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 7% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(20 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 7% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(21 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 7% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(22 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 6% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(23 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 6% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(24 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 6% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(25 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 6% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(26 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 5% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(27 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 5% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(28 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 5% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(29 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 4% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(30 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 4% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(31 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 4% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(32 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 4% no-repeat,
    linear-gradient(
        to bottom,
        rgba(153, 153, 153, 1) 0%,
        rgba(220, 220, 220, 0.3) 35%,
        rgba(220, 220, 220, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
      )
      calc(33 * (100% / 34) + 1%) bottom / calc(100% / 34 - 1%) 4% no-repeat,
    rgba(255, 255, 255, 0);
}

.hero__top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3.5rem;
  margin-bottom: auto;
  align-items: center;
}

.hero__top-bar * {
  margin-block-end: 0;
}

.top-bar__brand {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-bar__logo {
  color: var(--color-accent);
  font-family: var(--font-blaka);
  font-size: 50px;
  line-height: 0;
  top: 13px;
}

.top-bar__company-name {
  color: #ffffff;
  margin-left: 0.5rem;
}

.hero__heading--mobile,
.hero__body--mobile {
  display: none;
}

.top-bar__statement {
  margin-inline: 2rem;
  text-align: center;
}

.top-bar__contact {
  color: var(--color-accent);
}

.hero__content {
  margin-bottom: auto;
}

/* Problem section styles */

.problem__grid {
  color: var(--color-text-light-bg);
  height: 100svh;
  width: 90vw;
  margin-left: auto;
  display: grid;
  gap: 1px;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-areas:
    "a a a a a a b b c c c c d d"
    "a a a a a a b b c c c c d d"
    "a a a a a a b b c c c c d d"
    "a a a a a a b b c c c c d d"
    "a a a a a a e e f f f f g g"
    "h h h h h h h h h h h h i i"
    "h h h h h h h h h h h h i i"
    "h h h h h h h h h h h h i i"
    "j j j j j j j j j j j j j j";
  background: #539075;
}

.area {
  display: flex;
  background: var(--color-accent);
}

.problem__area--a {
  grid-area: a;
  align-items: end;
  padding: 2rem;
}

.problem__area--b {
  grid-area: b;
  padding-block: 4rem;
}

.problem__area--c {
  grid-area: c;
  padding-block: 4rem;
}

.problem__area--d {
  grid-area: d;
}

.problem__area--e {
  grid-area: e;
}

.problem__area--f {
  grid-area: f;
}

.problem__area--g {
  grid-area: g;
}

.problem__area--h {
  grid-area: h;
  align-items: center;
  padding: 2rem;
}

.problem__area--i {
  grid-area: i;
}

.problem__area--j {
  grid-area: j;
}

.problem__heading {
  color: var(--color-text-light-bg);
  margin-block-end: 0;
}

/* Intro section is only for mobile */

.into {
  display: none;
}

/* Business section */

.business__container {
  display: flex;
  flex-direction: row;
  height: 100svh;
  padding-inline: 10vw;
  padding-block: 3rem;
  position: relative;
  gap: 2rem;
}

.business__content-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.business__content-container--justify {
  justify-content: end;
}

.business__contact {
  margin-top: auto;
  align-self: flex-end;
  border-block-end: solid;
  line-height: 1.5rem;
  border-block-end-color: var(--color-accent);
  color: var(--color-accent);
  border-block-end-width: 3px;
  display: flex;
  gap: 0.5rem;
}

.business::before {
  content: "";
  position: absolute;
  background-position: bottom 0 right 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 62vw;
  height: 85%;
  bottom: 0;
  right: 0;
  background-image: url(assets/images/graph.png);
  z-index: -1;
}

/* Quality section */

.quality__container {
  display: flex;
  flex-direction: row;
  height: 100svh;
  padding-inline: 10vw;
  position: relative;
  gap: 0.5%;
  padding-bottom: 2rem;
}

.quality__intro {
  display: flex;
  flex-direction: column;
  flex: 6;
}

.quality__heading--mobile {
  display: none;
}

.quality__heading {
  color: #4d4d4d;
  filter: blur(2.5px);
  display: flex;
  margin-top: 1em;
  font-size: 5rem;
  line-height: 5rem;
}

.quality__tagline {
  margin-top: auto;
}

.quality__value {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  margin-bottom: 6rem;
}

.quality__subheading {
  display: flex;
  width: 14rem;
  height: 14rem;
  position: absolute;
  white-space: nowrap;
  font-family: var(--font-gasoek);
  font-weight: 400; /* h2 is bold by default, but Gasoek One font should be rendered as regular */
  font-size: 3rem;
  line-height: 3.5rem;
  color: #4d4d4d;
  filter: blur(2.5px);
  margin-block-end: 0;
  left: 105%;
}

.quality__image {
  width: 14rem;
  height: 14rem;
  display: flex;
}

.quality__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 7;
}

/* Contact section */

.contact {
  height: 100svh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.contact__grid {
  color: var(--color-text-light-bg);
  height: 70vh;
  display: grid;
  gap: 1px;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-areas:
    "a a a a e e e e e e c c c c d d d d d d d d d d d d d d b"
    "a a a a e e e e e e c c c c d d d d d d d d d d d d d d b"
    "a a a a e e e e e e c c c c d d d d d d d d d d d d d d b"
    "a a a a e e e e e e c c c c d d d d d d d d d d d d d d b"
    "a a a a e e e e e e c c c c d d d d d d d d d d d d d d b"
    "f f f f f f f f f f f f f f d d d d d d d d d d d d d d b"
    "f f f f f f f f f f f f f f d d d d d d d d d d d d d d b"
    "f f f f f f f f f f f f f f d d d d d d d d d d d d d d b"
    "f f f f f f f f f f f f f f d d d d d d d d d d d d d d b"
    "g g g g g g g g g g h h h h i i i i i i i i j j j j j j k";
  background: #539075;
}

.contact__area--a {
  grid-area: a;
}

.contact__area--b {
  grid-area: b;
}

.contact__area--c {
  grid-area: c;
}

.contact__area--d {
  grid-area: d;
}

.contact__body {
  display: flex;
  flex-direction: column;
  margin-block-end: 0;
  padding: 2rem;
  justify-content: end;
  width: 100%;
}

.contact__details {
  display: flex;
  flex-direction: column;
  margin-block-end: 0;
  padding: 1rem;
  line-height: 1em;
  justify-content: end;
  width: 100%;
  text-align: end;
}

.contact__area--e {
  grid-area: e;
}

.contact__area--f {
  grid-area: f;
}

.contact__area--g {
  grid-area: g;
}

.contact__area--h {
  grid-area: h;
}

.contact__area--i {
  grid-area: i;
}

.contact__area--j {
  grid-area: j;
}

.contact__area--k {
  grid-area: k;
}

.footer__copyright {
  color: var(--color-accent);
  display: flex;
  padding: 2rem;
  justify-content: end;
  margin-top: auto;
  margin-block-end: 0;
  line-height: 1em;
}

/* Mobile */
@media (max-width: 1125px) {
  html {
    scroll-snap-type: none;
    scroll-behavior: smooth;
  }

  h1,
  h2 {
    font-size: 3.85rem;
    line-height: 1.05em;
  }

  body {
    font-size: 1rem;
    line-height: 1.8em;
  }

  section {
    padding-inline: 1rem;
  }

  .hero__container {
    max-width: unset;
  }

  .hero__container::before {
    height: 80vh;
    background: linear-gradient(
          to bottom,
          rgba(153, 153, 153, 1) 0%,
          rgba(220, 220, 220, 0.3) 35%,
          rgba(220, 220, 220, 0.1) 70%,
          rgba(255, 255, 255, 0) 100%
        )
        calc(0 * (100% / 11) + 0%) bottom / calc(100% / 12 - 3%) 98% no-repeat,
      linear-gradient(
          to bottom,
          rgba(153, 153, 153, 1) 0%,
          rgba(220, 220, 220, 0.3) 35%,
          rgba(220, 220, 220, 0.1) 70%,
          rgba(255, 255, 255, 0) 100%
        )
        calc(1 * (100% / 11) + 0%) bottom / calc(100% / 12 - 3%) 90% no-repeat,
      linear-gradient(
          to bottom,
          rgba(153, 153, 153, 1) 0%,
          rgba(220, 220, 220, 0.3) 35%,
          rgba(220, 220, 220, 0.1) 70%,
          rgba(255, 255, 255, 0) 100%
        )
        calc(2 * (100% / 11) + 0%) bottom / calc(100% / 12 - 3%) 90% no-repeat,
      linear-gradient(
          to bottom,
          rgba(153, 153, 153, 1) 0%,
          rgba(220, 220, 220, 0.3) 35%,
          rgba(220, 220, 220, 0.1) 70%,
          rgba(255, 255, 255, 0) 100%
        )
        calc(3 * (100% / 11) + 0%) bottom / calc(100% / 12 - 3%) 70% no-repeat,
      linear-gradient(
          to bottom,
          rgba(153, 153, 153, 1) 0%,
          rgba(220, 220, 220, 0.3) 35%,
          rgba(220, 220, 220, 0.1) 70%,
          rgba(255, 255, 255, 0) 100%
        )
        calc(4 * (100% / 11) + 0%) bottom / calc(100% / 12 - 3%) 30% no-repeat,
      linear-gradient(
          to bottom,
          rgba(153, 153, 153, 1) 0%,
          rgba(220, 220, 220, 0.3) 35%,
          rgba(220, 220, 220, 0.1) 70%,
          rgba(255, 255, 255, 0) 100%
        )
        calc(5 * (100% / 11) + 0%) bottom / calc(100% / 12 - 3%) 22% no-repeat,
      linear-gradient(
          to bottom,
          rgba(153, 153, 153, 1) 0%,
          rgba(220, 220, 220, 0.3) 35%,
          rgba(220, 220, 220, 0.1) 70%,
          rgba(255, 255, 255, 0) 100%
        )
        calc(6 * (100% / 11) + 0%) bottom / calc(100% / 12 - 3%) 22% no-repeat,
      linear-gradient(
          to bottom,
          rgba(153, 153, 153, 1) 0%,
          rgba(220, 220, 220, 0.3) 35%,
          rgba(220, 220, 220, 0.1) 70%,
          rgba(255, 255, 255, 0) 100%
        )
        calc(7 * (100% / 11) + 0%) bottom / calc(100% / 12 - 3%) 20% no-repeat,
      linear-gradient(
          to bottom,
          rgba(153, 153, 153, 1) 0%,
          rgba(220, 220, 220, 0.3) 35%,
          rgba(220, 220, 220, 0.1) 70%,
          rgba(255, 255, 255, 0) 100%
        )
        calc(8 * (100% / 11) + 0%) bottom / calc(100% / 12 - 3%) 20% no-repeat,
      linear-gradient(
          to bottom,
          rgba(153, 153, 153, 1) 0%,
          rgba(220, 220, 220, 0.3) 35%,
          rgba(220, 220, 220, 0.1) 70%,
          rgba(255, 255, 255, 0) 100%
        )
        calc(9 * (100% / 11) + 0%) bottom / calc(100% / 12 - 3%) 20% no-repeat,
      linear-gradient(
          to bottom,
          rgba(153, 153, 153, 1) 0%,
          rgba(220, 220, 220, 0.3) 35%,
          rgba(220, 220, 220, 0.1) 70%,
          rgba(255, 255, 255, 0) 100%
        )
        calc(10 * (100% / 11) + 0%) bottom / calc(100% / 12 - 3%) 20% no-repeat,
      linear-gradient(
          to bottom,
          rgba(153, 153, 153, 1) 0%,
          rgba(220, 220, 220, 0.3) 35%,
          rgba(220, 220, 220, 0.1) 70%,
          rgba(255, 255, 255, 0) 100%
        )
        calc(11 * (100% / 11) + 0%) bottom / calc(100% / 12 - 3%) 20% no-repeat,
      rgba(255, 255, 255, 0);
  }

  .top-bar__brand {
    margin-left: auto;
  }

  .hero__top-bar {
    margin-top: 2em;
    margin-bottom: 4em;
  }

  .top-bar__statement {
    display: none;
  }

  .top-bar__contact {
    display: none;
  }

  .hero__heading,
  .hero__body {
    display: none;
  }

  .hero__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
  }

  .hero__heading--mobile {
    display: flex;
    text-align: end;
  }

  .hero__body--mobile {
    display: flex;
  }

  .into {
    display: flex;
    flex-direction: column;
    margin-block: 6rem;
  }

  .problem__grid,
  .business__container,
  .quality__container {
    height: auto;
  }

  .problem::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100%;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    );
    z-index: -1;
  }

  .problem__heading {
    color: #ffffff;
    margin-block-end: 1em;
  }

  .problem__grid {
    display: flex;
    flex-direction: column;
    background: unset;
    width: unset;
  }

  .problem__area--a {
    color: #ffffff;
    padding: unset;
  }

  .problem__area--h {
    color: var(--color-text-dark-bg);
    padding: unset;
  }

  .problem__area--h ul {
    margin-bottom: 5rem;
  }

  .problem__area--h li:not(:last-child) {
    margin-bottom: 2em;
  }

  .problem__area--c,
  .problem__area--b,
  .problem__area--d,
  .problem__area--e,
  .problem__area--f,
  .problem__area--g,
  .problem__area--i,
  .problem__area--j {
    display: none;
  }

  .problem__area--c {
    display: none;
    grid-area: c;
    padding-block: 4rem;
  }

  .area {
    background: unset;
  }

  .business__container {
    flex-direction: column;
    padding: unset;
    gap: unset;
  }

  .business__heading {
    max-width: unset;
    margin-block-start: 1.5em;
    margin-block-end: 1em;
  }

  .business::before {
    width: 100vw;
    background-size: 50rem;
    background-position: top 16rem right 0;
  }

  .business__content-container--pricing {
    margin-top: 35rem;
  }

  .quality__intro,
  .quality__value {
    display: none;
  }

  .quality__heading--mobile {
    display: block;
    margin-block-start: 1.5em;
    margin-block-end: 1em;
  }

  .quality__container {
    padding-inline: unset;
  }

  .contact {
    scroll-margin-top: 0.01vh; /* This hack is needed because `scroll-behavior: smooth;` doesn't work well in iOS Safari */
  }

  .contact__grid {
    position: absolute;
    left: 0;
    height: 80vh;
    display: grid;
    grid-template-areas:
      "d"
      "d"
      "d"
      "d"
      "d"
      "d"
      "d"
      "d"
      "e"
      "f";
    background: #539075;
  }

  .contact__area--a,
  .contact__area--b,
  .contact__area--c,
  .contact__area--g,
  .contact__area--h,
  .contact__area--i,
  .contact__area--j,
  .contact__area--k {
    display: none;
  }

  .area--mobile {
    display: flex;
    background: var(--color-accent);
  }

  .contact__body,
  .contact__details {
    padding: 1rem;
    justify-content: center;
    text-align: start;
  }

  .contact__area--f a {
    cursor: default;
  }

  .footer__copyright {
    padding-bottom: 1rem;
    padding-inline: 0;
  }
}
